:root {
    /* global */
    --global: #292F36;

    /* colors */
    --button-text-color: #ffffff;
    --hover-text-color: #cda274;
    --secoond-text-color: #4d5053;

   /* background-color */
   --background-color: #f4f0ec;

   /* font */ 
   --body-font: "Jost", sans-serif;
   --second-font: "DM Serif Display", serif;
}